@import url(slider.css);

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&family=Rubik:wght@400;700&display=swap');

  @font-face {
    font-family: 'Aqum';
    src: 'fonts/aqum.ttf';
  }

  
  :root {
    --action: #F289A8;
    --bg1: #fff;
    --bg2: #fbfcfb;
    --dark: #2c2e38;
    --indent: 17%;
  }

  body {
      margin: 0;
      min-height: 100%;
      background-color: #fff;
      position: relative;
      font-family: Rubik, Noto Sans JP, sans-serif;
      color: var(--dark);
      font-size: 18px;
      line-height: 160%;
      font-weight: 400;
  }

  h1 {
    font-size: 40px;
    margin: 0;
  }

  .header-hero {
    background-image: linear-gradient(180deg, rgba(46, 47, 58, 0.8), rgba(46, 47, 58, 0.8)), url(images/hero_background.jpg);
    background-position: center center;
    background-size: auto, cover;
    text-align: left;
    height: 75vh;
    display: flex;
    flex-direction: column;
}

.navbar {
    z-index: 20;
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 15%;
}

  .logo {
    z-index: 30;
      padding-left: var(--indent);
      display: flex;
      align-items: center;
  }

  .logo-text {
    z-index: 30;
    padding-left: 10px;
    font-size: 30px;
    font-weight: 300;
    color: #fff;
    font-family: Aqum;
}

 .language {
  padding-right: var(--indent);
  color: white;
  font-size: 25px;
  text-decoration: none;
  font-weight: 700;
 }

  .hero-content {
    z-index: 10;
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    align-content: flex-start;
  }

  .hero-container {
    padding-left: var(--indent);
  }

  .hero-text {
      padding-left: 50%;
      font-size: 12px;
      line-height: 100%;
      font-weight: 700;
      letter-spacing: 2px;
  }
  .hero-title-1 {
      margin: 40px 0 10px;
      font-size: 54px;
      line-height: 1.1;
      font-weight: 700;
      letter-spacing: -1.6px;
      color: #fff;
  }

  .hero-title-2 {
    color: var(--action);
    display: block;
  }

  .hero-description {
      color:#fff;
      opacity: .7;
      font-size: 21px;
      line-height: 160%;
      margin: 0;
  }

  section.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .content-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin-top: 7%;
    margin-bottom: 7%;
  }

  section.content p{
      margin-bottom: 0;
      opacity: .7;
      text-align: center;
  }
  
 .events {
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--bg2);
 }
 
section.footer{
    padding-top: 75px;
    padding-bottom: 75px;
    border-top: 1px rgba(21,23,26,.2);
    background-color: #e8ecef;
    text-align: center;
}

.email{
    text-decoration: none;
    color: var(--dark);
    opacity: .75;
}

.email:hover{
    opacity: 1;
}

  .social-nav ul{
      padding:0px;
      list-style:none;
  }
  .social-nav li a{
      text-decoration: none;
      padding-right: 14px;
      padding-left: 14px;
      opacity: .5;
  }
  .social-nav li a:hover{
      opacity:1;
  }
  @media screen and (min-width: 1400px){
      .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
          max-width: 1264px;
      }
  }
  @media screen and (min-width:1200px){

  }
  @media screen and (max-width: 991px){
      section.content{
          top:0px !important;
          margin:0px 0 30px 0 !important;
      }
  }
  @media screen and (max-width: 767px){
      .logo {
          padding: 18px 0px;
      }
      .logo img{
          height: 26px;
      }
      .hero-content{
          padding-top: 100px;
          padding-bottom: 40px;
      }
      .hero-title {
          margin: 30px 0 10px;
          font-size: 40px;
      }
      /*new mobile style*/
      section.content {
          padding-top: 20px;
      }
      /*end new mobile style*/
      section.content h2{
          font-size:25px;
      }
      .cta-button {
          padding: 10px 16px;
      }
      .footer-nav li{
          display:block;
      }
  }