@import url(slider.css);
@import url(animation.css);
@import url(nav.css);
@import url(footer.css);


@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&family=Rubik:wght@400;500;600;700&display=swap');

:root {
    --action: #f289a8;
    --bg1: #fff;
    --bg2: #E9ECEF;
    --bg3: #D1D4D7;
    --dark: #000000;
    --indent: 16rem;
    --mid-gut: 8rem;
    --hide-photo: block;

    --side-margin: 1rem;
    --gutter: 1rem;
    --content-size: 1408px;
  }

html {font-size: 100%;}
    
body {
  font-family: 'Rubik', 'Noto Sans JP', sans-serif;
  font-weight: 400;
  line-height: 1.25;
  margin: 0;
  min-height: 100%;
  background-color: #fff;
  position: relative;
  color: var(--dark);
  font-size: var(--s0);
  min-height: 100vh;
  max-width: 100vw;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  font-weight: 700;
}

h1 {
  margin-top: 0;
  font-size: 4rem;
  line-height: 1;
}

h2 {font-size: 3rem;
    line-height: 1;
}

h3 {font-size: 2.5rem;
    line-height: 1;
}

h4 {font-size: 2rem;
    line-height: 1.25;
}

h5 {font-size: 1.5rem;
    line-height: 1.25;
}

p {
    margin: 0;
    font-weight: 400;
}

a{
  text-decoration: none;
}

.header-hero {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../images/hero_background.jpg);
    background-position: center center;
    background-size: auto, cover;
    text-align: left;
    height: clamp(720px, 100vh, 100vh);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4.5rem;
}

.hero-container {
    max-width: var(--content-size);
    margin: 0 var(--side-margin) 0 var(--side-margin);
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: var(--gutter);
}

.hero-text {
  grid-column: span 8;
}

.hero-title-1 {
    margin: 0 0 2rem 0;
    font-weight: 600;
    color: #fff;
}

.hero-title-2 {
    color: var(--action);
    display: block;
}

.hero-description {
    color: #fff;
    font-size: 1.5rem;
    line-height: 160%;
    margin: 0;
    font-weight:400;
}

.learn-more-button {
    grid-row: 2;
    grid-column: span 2;

    display: inline-block;
    width: fit-content;
    margin-top: 2rem;
    padding: 10px 20px;
    font-size: var(--s0);
    background-color: var(--action);
    color: #fff;
    border: none;
    border-radius: 50px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.learn-more-button:hover {
    background-color: #b1647c;
}

section.content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem 0;
}

.about-content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: var(--gutter);
    justify-content: space-between;
    align-items: center;
    max-width: var(--content-size);
    margin: 0 var(--side-margin) 0 var(--side-margin);
    width: 100%;
    height: fit-content;
}

.about-image {
    grid-column: span 4;
    height: 100%;
    width: 100%;
    object-fit: contain;
    border-radius: 20px;
}

.about-text {
    height: 100%;
    grid-column: 6 / span 7;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-column-gap: var(--gutter);
    grid-row-gap: 2rem;
    justify-content: space-between;
}

.about-h{
    margin: 0;
    grid-column: span 7;
}

.about-p {
    margin: 0;
    font-weight: 400;
    grid-column: span 7;
}

.about-sign-up {
    display: flex;
    flex-direction: row;
    align-items: center;
    grid-column: span 7;
}

.action-button {
  display: inline-block;
  width: fit-content;
  padding: 10px 20px;
  background-color: var(--action);
  color: #fff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 1rem;
  margin-right: 1rem;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.action-button:hover {
  background-color: #b1647c;
}

.events {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg2);
  padding: 4rem var(--side-margin);
}

.event-header{ 
  text-align: center;
}

.no-events-msg {
  margin: 4rem 0rem;
}

.event-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: var(--gutter);
  row-gap: 2rem;
  justify-content: space-between;
  align-items: center;
  margin: 4rem 0;
  max-width: var(--content-size);
  justify-content: center;
}

.horizontal-card {
  grid-column: 4 / span 6;

  .card {
    width: 100%;
    border-radius: 1rem;
    background-color: #fff;
    overflow: hidden;
    display: flex;
    flex-direction: row;

    img {
      width: 30%;
      object-fit: contain;
    }

    .info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 1.5rem 1rem 1.5rem 2rem; 
      color: #000;

      span {
        font-weight: 700;
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
      }

      a {
        margin-top: 1rem;
      }
    }
  }

  @media (max-width: 1000px) {
    .card {
      width: 300px;
      flex-direction: column;

      img {
        width: 100%;
      }

      .info {
        padding: 2rem;
      }

    }
  }
}

@media (max-width: 1440px){
  .horizontal-card {
    grid-column: 2 / span 10;
}
}

@media (max-width: 1000px){
  .horizontal-card {
    grid-column: span 12;
}
}

.button-cont{
  display: flex;
  justify-content: center;
  width: 100%;
}

.membership-content {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: var(--gutter);
  justify-content: space-between;
  align-items: center;
  max-width: var(--content-size);
  margin: 0 var(--side-margin);
  width: 100%;
  height: fit-content;
  justify-items: center;
  row-gap: 4rem;
}

.membership-h{
  margin: 0;
  grid-column: span 12;
  text-align: center;
}

.membership-text {
  height: 100%;
  grid-column: 2 / span 5;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.membership-p {
  margin: 0;
  font-weight: 400;
}

.membership-sign-up {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.membership-image {
  grid-column: 7 / span 5;
  height: 100%;
  width: 100%;
  object-fit: contain;
  border-radius: 20px;
}

.contact-cont {
  background-color: var(--action);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 0;
}

.contact-header {
  margin: 2rem 0;
  color: #fff;
  text-align: center;
}

.contact-text {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-text p{
  font-size: 1.5rem;
}

.contact-links a{
  text-decoration: none;
}

.contact-links i{
  text-decoration: none;
  color: #fff;
  margin: 1rem;
  padding: 2rem 1rem;
  border-radius: 2rem;
  background-color: rgba(0, 0, 0, 0.0);
  transition: ease-in-out 0.15s;
}

.contact-links i:hover{
  background-color: rgba(0, 0, 0, 0.2);
}


@media (max-width: 600px) {
  .event .event-middle .event-description,
  .event .event-middle .event-timing {
    font-size: 0.75rem;
  }
}

@media (max-width: 425px) {
  .event .event-middle .event-description,
  .event .event-middle .event-timing {
    font-size: 0.5rem;
  }
}

@media (max-width: 1440px) {
  :root{
    --content-size: 1240px;
  }
}

@media (min-width: 1024px) and (max-width: 1280px) {
  /* CSS styles for small laptops */
  :root{
      --side-margin: 48px;
      --gutter: 16px;
  }

  h1 {
    margin-top: 0;
    font-size: 4rem;
    line-height: 1;
  }
  
  h2 {font-size: 3em;
      line-height: 1;
  }
  
  h3 {font-size: 2.5rem;
      line-height: 1;
  }
  
  h4 {font-size: 2rem;
      line-height: 1.25;
  }
  
  h5 {font-size: 1.5rem;
      line-height: 1.25;
  }

  .hero-text{
    grid-column: span 10;
  }

  .about-content{
    margin: 0;
    padding: 0 var(--side-margin) 0 var(--side-margin);
  }

  .about-content{
    margin: 0;
    padding: 0 var(--side-margin) 0 var(--side-margin);
    justify-content: space-around;
    height: 600px;
  }

  .about-text {
    height: auto;
    width: 100%;
  }

  .about-image {
    height: 376px;
    width: 376px;
  }

  .about-p {
    margin: 1.5rem 0 1.5rem 0;
  }

  .action-button {
    margin: 0 0 0.5rem 0;
    text-align: center;
  }

  .about-sign-up {
    flex-direction: column;
  }

}

@media (min-width: 769px) and (max-width: 1023px) {
  /* CSS styles for large tablets */
  :root{
      --action: #f289a8;
      --bg1: #fff;
      --bg2: #F8F9FA;
      --dark: #000000;
  
      --side-margin: 16px;
      --gutter: 16px;
  }

  h1 {
    margin-top: 0;
    font-size: 3.5rem;
    line-height: 1;
  }
  
  h2 {font-size: 3em;
      line-height: 1;
  }
  
  h3 {font-size: 2.5rem;
      line-height: 1;
  }
  
  h4 {font-size: 2rem;
      line-height: 1.25;
  }
  
  h5 {font-size: 1.5rem;
      line-height: 1.25;
  }

  .hero-text{
    grid-column: span 10;
  }

  .learn-more-button {
    grid-column: span 12;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  section.content{
    height: clamp(1000px, 75vh, 1200px);
  }

  .about-content{
    margin: 0;
    padding: 0 var(--side-margin) 0 var(--side-margin);
    flex-direction: column-reverse;
    justify-content: space-around;
    row-gap: 4rem;
  }

  .about-text {
    grid-row: 1;
    grid-column: span 12;
    height: auto;
  }

  .about-image{
    grid-row: 2;
    grid-column: 4 / span 6;
  }

  .about-p {
    margin: 1.5rem 0 1.5rem 0;
  }

  .action-button {
    margin: 0 0 8px 0;
    text-align: center;
    width: 100%;
  }

  .about-sign-up {
    flex-direction: column;
  }

  .membership-text{
    text-align: center;
    grid-column: 3 / span 8;
  }

  .membership-sign-up{
    flex-direction: column;
  }

  .membership-sign-up .action-button{
    margin: 1rem;
  }

  .membership-image{
    grid-column: 3 / span 8;
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  /* CSS styles for small tablets */
  :root{
      --action: #f289a8;
      --bg1: #fff;
      --bg2: #fbfcfb;
      --dark: #000000;
  
      --side-margin: 16px;
      --gutter: 16px;
  }

  h1 {
    margin-top: 0;
    font-size: 3.5rem;
    line-height: 1;
  }
  
  h2 {font-size: 3em;
      line-height: 1;
  }
  
  h3 {font-size: 2.5rem;
      line-height: 1;
  }
  
  h4 {font-size: 2rem;
      line-height: 1.25;
  }
  
  h5 {font-size: 1.5rem;
      line-height: 1.25;
  }

  .hero-text{
    grid-column: span 12;
  }

  .learn-more-button {
    grid-column: span 12;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  section.content{
    height: clamp(1000px, 75vh, 1200px);
  }

  .about-content{
    margin: 0;
    padding: 0 var(--side-margin) 0 var(--side-margin);
    flex-direction: column-reverse;
    justify-content: space-around;
    row-gap: 4rem;
  }

  .about-text {
    grid-row: 1;
    grid-column: span 12;
    height: auto;
  }

  .about-image{
    grid-row: 2;
    grid-column: 4 / span 6;
  }

  .about-p {
    margin: 1.5rem 0 1.5rem 0;
  }

  .action-button {
    margin: 0 0 8px 0;
    text-align: center;
    width: 100%;
  }

  .about-sign-up {
    flex-direction: column;
  }

  .membership-text{
    text-align: center;
    grid-column: 2 / span 10;
  }

  .membership-sign-up{
    flex-direction: column;
  }

  .membership-sign-up .action-button{
    margin: 1rem;
  }

  .membership-image{
    grid-column: 2 / span 10;
  }
}

@media (min-width: 320px) and (max-width: 479px) {
  /* CSS styles for mobile */
  :root{
      --action: #f289a8;
      --bg1: #fff;
      --bg2: #fbfcfb;
      --dark: #000000;
  
      --side-margin: 16px;
      --gutter: 16px;
  }

  h1 {
    margin-top: 0;
    font-size: 2.5rem;
    line-height: 1;
  }
  
  h2 {font-size: 2.5em;
      line-height: 1;
  }
  
  h3 {font-size: 2rem;
      line-height: 1;
  }
  
  h4 {font-size: 1.5rem;
      line-height: 1.25;
  }
  
  h5 {font-size: 1rem;
      line-height: 1.25;
  }

  .hero-text{
    grid-column: span 12;
  }

  .hero-description{
    font-size: 1rem;
  }

  .learn-more-button {
    grid-column: span 12;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px 0;
  }

  section.content{
    height: clamp(1000px, 75vh, 1200px);
  }

  .about-content{
    margin: 0;
    padding: 0 var(--side-margin) 0 var(--side-margin);
    flex-direction: column-reverse;
    justify-content: space-around;
    height: 100%;
  }

  .about-text {
    grid-row: 1;
    grid-column: span 12;
    height: auto;
  }

  .about-image{
    grid-row: 2;
    grid-column: span 12;
  }

  .about-p {
    margin: 1.5rem 0 1.5rem 0;
  }

  .action-button {
    margin: 0 0 8px 0;
    text-align: center;
    width: 100%;
    padding: 10px 0;
  }

  .about-sign-up {
    flex-direction: column;
  }

  .about-sign-up {
    flex-direction: column;
  }

  .membership-text{
    text-align: center;
    grid-column: span 12;
  }

  .membership-sign-up{
    flex-direction: column;
  }

  .membership-sign-up .action-button{
    margin: 1rem;
  }

  .membership-image{
    grid-column: span 12;
  }

  .contact-text p{
    padding: 0 var(--side-margin);
    font-size: 1rem;
    text-align: center;
  }
}