@import url(slider.css);
@import url(animation.css);

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&family=Rubik:wght@400;500;600;700&display=swap');

:root {
    --action: #f289a8;
    --bg1: #fff;
    --bg2: #E9ECEF;
    --bg3: #D1D4D7;
    --dark: #000000;
    --indent: 16rem;
    --mid-gut: 8rem;
    --hide-photo: block;

    --side-margin: 1rem;
    --gutter: 1rem;
  }

html {font-size: 100%;}
    
body {
  font-family: 'Rubik', 'Noto Sans JP', sans-serif;
  font-weight: 400;
  line-height: 1.25;
  margin: 0;
  min-height: 100%;
  background-color: #fff;
  position: relative;
  color: var(--dark);
  font-size: var(--s0);
  min-height: 100vh;
  max-width: 100vw;
}


h1, h2, h3, h4, h5 {
  margin: 0;
  font-weight: 700;
}

h1 {
  margin-top: 0;
  font-size: 4rem;
  line-height: 1;
}

h2 {font-size: 3rem;
    line-height: 1;
}

h3 {font-size: 2.5rem;
    line-height: 1;
}

h4 {font-size: 2rem;
    line-height: 1.25;
}

h5 {font-size: 1.5rem;
    line-height: 1.25;
}

p {
    margin: 0;
    font-weight: 400;
}

nav{
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 4rem;
  background: transparent;
  display: flex;
  justify-content: center;
  transition: background-color 0.15s ease-in-out, border-bottom 0.15s ease-in-out;
  border-bottom: 1px solid transparent;
 }

 nav .navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  max-width: 1240px;
  width: 100%;
  margin: 0  var(--side-margin) 0 var(--side-margin);
  background: transparent;
 }

 nav .navbar .menu{
   display: flex;
   align-items: center;
 }
 .navbar .menu li{
   list-style: none;
   margin: 0 1rem;
 }
 .navbar .menu li a{
   color: #fff;
   font-size: 1rem;
   font-weight: 500;
   text-decoration: none;
 }

nav.scrolled {
    background-color: #000;
    border-bottom-color: #333;
}

.logo-cont{
  display: flex;
  align-items: center;
}

.logo-text{
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff;
}

.logo {
  z-index: 30;
  
  justify-self: center;
  height: 3rem;
  width: 3rem;
  margin-right: 1rem;
}

.header-hero {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../images/hero_background.jpg);
    background-position: center center;
    background-size: auto, cover;
    text-align: left;
    height: clamp(720px, 100vh, 100vh);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4.5rem;
}

.hero-container {
    max-width: 1240px;
    margin: 0 var(--side-margin) 0 var(--side-margin);
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: var(--gutter);
}

.hero-text {
  grid-column: span 8;
}

.hero-title-1 {
    margin: 0 0 2rem 0;
    font-weight: 600;
    color: #fff;
}

.hero-title-2 {
    color: var(--action);
    display: block;
}

.hero-description {
    color: #fff;
    line-height: 160%;
    margin: 0;
    font-weight:400;
}

.learn-more-button {
    grid-row: 2;
    grid-column: span 2;

    display: inline-block;
    width: fit-content;
    margin-top: 2rem;
    padding: 10px 20px;
    font-size: var(--s0);
    background-color: var(--action);
    color: #fff;
    border: none;
    border-radius: 50px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.learn-more-button:hover {
    background-color: #b1647c;
}

section.content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: clamp(500px, 75vh, 720px);
}

.about-content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: var(--gutter);
    justify-content: space-between;
    align-items: center;
    max-width: 1240px;
    margin: 0 var(--side-margin) 0 var(--side-margin);
    width: 100%;
    height: fit-content;
}

.about-image {
    grid-column: span 4;
    height: 100%;
    width: 100%;
    object-fit: contain;
    border-radius: 20px;
}

.about-text {
    height: 100%;
    grid-column: 6 / span 7;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-column-gap: var(--gutter);
    grid-row-gap: 2rem;
    justify-content: space-between;
}

.about-h{
    margin: 0;
    grid-column: span 7;
}

.about-p {
    margin: 0;
    font-weight: 400;
    grid-column: span 7;
}

.about-sign-up {
    display: flex;
    flex-direction: row;
    align-items: center;
    grid-column: span 7;
}

.action-button {
    display: inline-block;
    width: fit-content;
    padding: 10px 20px;
    background-color: var(--action);
    color: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 1rem;
    margin-right: 1rem;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.action-button:hover {
    background-color: #b1647c;
}

.events {
    height: clamp(600px, 80vh, 800px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--bg2);
    padding: 0 var(--side-margin) 0 var(--side-margin);
}

.container{
	width: 1240px;
	margin: 0 var(--side-margin) 0 var(--side-margin);
}
.row{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: var(--gutter);
  row-gap: 2rem;
}
ul{
	list-style: none;
}
li{
	text-align: justify;
    color: #fff;
}
.footer{
	background-color: #000;
    padding: 4rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-col{
  grid-column: span 3;
}
.footer-col h4{
	font-size: 1.5rem;
	color: #fff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
} 
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #fff;
	text-decoration: none;
	font-weight: 300;
	color: #fff;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #fff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: transparent;
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #fff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #fff;
	background-color: rgba(255,255,255,0.1);
}

@media (min-width: 1024px) and (max-width: 1280px) {
  /* CSS styles for small laptops */
  :root{
      --action: #f289a8;
      --bg1: #fff;
      --bg2: #F8F9FA;
      --dark: #000000;
  
      --side-margin: 48px;
      --gutter: 16px;
  }

  h1 {
    margin-top: 0;
    font-size: 4rem;
    line-height: 1;
  }
  
  h2 {font-size: 3em;
      line-height: 1;
  }
  
  h3 {font-size: 2.5rem;
      line-height: 1;
  }
  
  h4 {font-size: 2rem;
      line-height: 1.25;
  }
  
  h5 {font-size: 1.5rem;
      line-height: 1.25;
  }


  .hero-text{
    grid-column: span 10;
  }

    .about-content{
      margin: 0;
      padding: 0 var(--side-margin) 0 var(--side-margin);
    }

    .about-content{
      margin: 0;
      padding: 0 var(--side-margin) 0 var(--side-margin);
      justify-content: space-around;
      height: 600px;
    }

    .about-text {
      height: auto;
      width: 100%;
    }

    .about-image {
      height: 376px;
      width: 376px;
    }

    .about-p {
      margin: 1.5rem 0 1.5rem 0;
    }

    .action-button {
      margin: 0 0 0.5rem 0;
      text-align: center;
    }

    .about-sign-up {
      flex-direction: column;
    }
}

@media (min-width: 769px) and (max-width: 1023px) {
    /* CSS styles for large tablets */
    :root{
        --action: #f289a8;
        --bg1: #fff;
        --bg2: #F8F9FA;
        --dark: #000000;
    
        --side-margin: 16px;
        --gutter: 16px;
    }

    h1 {
      margin-top: 0;
      font-size: 3.5rem;
      line-height: 1;
    }
    
    h2 {font-size: 3em;
        line-height: 1;
    }
    
    h3 {font-size: 2.5rem;
        line-height: 1;
    }
    
    h4 {font-size: 2rem;
        line-height: 1.25;
    }
    
    h5 {font-size: 1.5rem;
        line-height: 1.25;
    }
  
    .hero-text{
      grid-column: span 10;
    }
  
      .learn-more-button {
        grid-column: span 12;
        display: flex;
        justify-content: center;
        width: 100%;
      }

      section.content{
        height: clamp(1000px, 75vh, 1200px);
      }

      .about-content{
        margin: 0;
        padding: 0 var(--side-margin) 0 var(--side-margin);
        flex-direction: column-reverse;
        justify-content: space-around;
        row-gap: 4rem;
      }

      .about-text {
        grid-row: 1;
        grid-column: span 12;
        height: auto;
      }

      .about-image{
        grid-row: 2;
        grid-column: 4 / span 6;
      }

      .about-p {
        margin: 1.5rem 0 1.5rem 0;
      }

      .action-button {
        margin: 0 0 8px 0;
        text-align: center;
        width: 100%;
      }

      .about-sign-up {
        flex-direction: column;
      }
  }

@media (min-width: 480px) and (max-width: 768px) {
    /* CSS styles for small tablets */
    :root{
        --action: #f289a8;
        --bg1: #fff;
        --bg2: #fbfcfb;
        --dark: #000000;
    
        --side-margin: 16px;
        --gutter: 16px;
    }

    h1 {
      margin-top: 0;
      font-size: 3.5rem;
      line-height: 1;
    }
    
    h2 {font-size: 3em;
        line-height: 1;
    }
    
    h3 {font-size: 2.5rem;
        line-height: 1;
    }
    
    h4 {font-size: 2rem;
        line-height: 1.25;
    }
    
    h5 {font-size: 1.5rem;
        line-height: 1.25;
    }
    
      .hero-text{
        grid-column: span 12;
      }

      .learn-more-button {
        grid-column: span 12;
        display: flex;
        justify-content: center;
        width: 100%;
      }

      section.content{
        height: clamp(1000px, 75vh, 1200px);
      }

      .about-content{
        margin: 0;
        padding: 0 var(--side-margin) 0 var(--side-margin);
        flex-direction: column-reverse;
        justify-content: space-around;
        row-gap: 4rem;
      }

      .about-text {
        grid-row: 1;
        grid-column: span 12;
        height: auto;
      }

      .about-image{
        grid-row: 2;
        grid-column: 4 / span 6;
      }

      .about-p {
        margin: 1.5rem 0 1.5rem 0;
      }

      .action-button {
        margin: 0 0 8px 0;
        text-align: center;
        width: 100%;
      }

      .about-sign-up {
        flex-direction: column;
      }

      .footer-col{
        grid-column: span 12;
    }
  }

@media (min-width: 320px) and (max-width: 479px) {
    /* CSS styles for mobile */
    :root{
        --action: #f289a8;
        --bg1: #fff;
        --bg2: #fbfcfb;
        --dark: #000000;
    
        --side-margin: 16px;
        --gutter: 16px;
    }

    h1 {
      margin-top: 0;
      font-size: 2.5rem;
      line-height: 1;
    }
    
    h2 {font-size: 2.5em;
        line-height: 1;
    }
    
    h3 {font-size: 2rem;
        line-height: 1;
    }
    
    h4 {font-size: 1.5rem;
        line-height: 1.25;
    }
    
    h5 {font-size: 1rem;
        line-height: 1.25;
    }

    .navbar .menu li{
      margin: 0;
    }

    nav .navbar .menu {
      justify-content: space-evenly;
      width: 100%;
  }

    .hero-text{
      grid-column: span 12;
    }

      .learn-more-button {
        grid-column: span 12;
        display: flex;
        justify-content: center;
        width: 100%;
      }

      section.content{
        height: clamp(1000px, 75vh, 1200px);
      }

      .about-content{
        margin: 0;
        padding: 0 var(--side-margin) 0 var(--side-margin);
        flex-direction: column-reverse;
        justify-content: space-around;
        height: 100%;
      }

      .about-text {
        grid-row: 1;
        grid-column: span 12;
        height: auto;
      }

      .about-image{
        grid-row: 2;
        grid-column: span 12;
      }

      .about-p {
        margin: 1.5rem 0 1.5rem 0;
      }

      .action-button {
        margin: 0 0 8px 0;
        text-align: center;
        width: 100%;
      }

      .about-sign-up {
        flex-direction: column;
      }

      .footer-col{
        grid-column: span 12;
    }
  }